{% extends 'base.html' %}
{% block start %}

    <style>
        body{
            background-image: url(/media/images/blurred-background-1.jpg);
            width: 100%;
            height: auto;
        }
    </style>
  
      
    

    <form method="post" class="w-50 m-auto border p-4 mt-5 rounded bg-dark text-white" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
          <input type="text" value="{{recipe.recipe_name}}" name="recipe_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  required>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
          <textarea required  class="form-control" name="recipe_description">{{recipe.recipe_description}}</textarea>
        
        </div>
        <div class="mb-3 ">
            <label for="exampleInputPassword1" class="form-label">Recipe image</label>
            <input type="file" name="recipe_img" class="form-control" id="exampleInputPassword1" required>
        
        </div>
        <button type="submit" class="btn btn-primary">add Recipe</button>
      </form>
     
{% endblock %}       
    

